.turno-display__container {
  display: grid;
  gap: 1rem;
  background-color: inherit;
  padding: 1rem;
  background-color: var(--color-primary--100);
  border-radius: .5rem;
}

.turno-display__info {
  display: flex;
  gap: .5rem;
}

.turno-display__cliente {
  text-transform: capitalize;
  flex-grow: 1;
  font-size: .9rem;
  display: grid;
  gap: .5rem;
  align-items: end;
  justify-items: start;
}

.turno-display__cliente__nombre {
  flex-grow: 1;
  color: var(--color-primary--600);
  font-size: 1.1rem;
}


.turno-display__cliente__cancha {
  color: var(--color-secondary--500);
  font-size: 0.9rem;
}

.turno-display__cliente__celular {
  color: var(--color-secondary--600);
  font-size: 0.8rem;
}

.turno-display__horarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.turno-display__horarios__fecha {
  font-size: .8rem;
}

.turno-display__horarios__horario {
  font-size: 1.1rem;
  font-weight: 800;
  color: var(--color-accent--500);
}

.turno-display__horarios__duracion {
  font-size: .8rem;
  color: var(--color-secondary--500);
}