.dashboard__cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 1rem;
  justify-self: center;
}

@media screen and (min-width: 600px) {
  .dashboard__cards-container {
    max-width: 800px;
    grid-template-columns: repeat(4, 1fr);
  }
}