.formLogin {
  width: 100%;
  max-width: 400px;
  /* Ancho máximo en escritorio */
  margin: 1rem;
  /* Margen para móviles */
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.formLogin .btn {
  width: fit-content;
  align-self: center;
}

.formLogin span {
  text-align: center;
  font-size: 0.9rem;
}