.turnos-container {
  display: grid;
  gap: 1rem;
  background-color: inherit;
}

.turnos-container__filter-btns {
  display: flex;
  gap: 1rem;
  justify-content: end;
}

.turnos-page__action-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.turnos__modal {
  display: grid;
  gap: 1.5rem;
  background-color: inherit;
}

.turnos__modal__action-buttons {
  display: flex;
  justify-content: space-between;
}