.panel-info {
  display: grid;
  grid-template-rows: auto auto;
  justify-content: start;
  justify-items: start;
  padding: .4rem 1rem;
  background-color: var(--color-accent--500);
}

.panel-info__cantidad {
  font-weight: 800;
  font-size: 2rem;
  color: var(--color-background--500);
}

.panel-info__texto {
  font-weight: 800;
  font-size: .7rem;
  color: var(--color-background--500);
}