.error-page__container {
  display: grid;
  padding: 1rem;
  text-align: center;
  justify-items: center;
}

.error-page__container p {
  font-size: 2rem;
  color: rgb(230, 19, 30);
}

.error-page__container span {
  font-size: 2rem;
  font-weight: 700;
}

.error-page__container .btn {
  background-color: #2563eb;
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 3rem;
  width: fit-content;
}

.error-page__container .btn:hover {
  background-color: #1d4ed8;
}