.formTurno {
  font-family: 'Inter', system-ui, sans-serif;
  padding: 1.5rem;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  display: grid;
  max-height: 80vh;
  overflow-y: auto;
  gap: 1rem;
}

.formTurno .btn {
  padding: 0.8rem 1rem;
}

.formTurno__actionButtons {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 700px) {
  .formTurno {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-areas:
      "input1 input2 input3"
      "input4 input5 -"
      "input6 input7 -"
      "btns btns btns";
  }

  .formTurno>:nth-child(1) {
    grid-area: input1;
  }

  .formTurno>:nth-child(2) {
    grid-area: input2;
  }

  .formTurno>:nth-child(3) {
    grid-area: input3;
  }

  .formTurno>:nth-child(4) {
    grid-area: input4;
  }

  .formTurno>:nth-child(5) {
    grid-area: input5;
  }

  .formTurno>:nth-child(6) {
    grid-area: input6;
  }

  .formTurno>:nth-child(7) {
    grid-area: input7;
  }

  .formTurno__actionButtons {
    grid-area: btns;
  }
}