.canchas_page__agregarCanchaBtn {
  display: flex;
  padding: .4rem;
  margin: 1rem;
  cursor: pointer;
}

.canchas-container>*:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 128, 0.2);
}

.canchas__modal {
  padding: 1rem;
  background-color: rgb(224, 229, 233);
}

.canchas__action-buttons {
  display: flex;
  gap: .6rem;
}

.canchas__modal__action-buttons {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}